<h1>{{title}}</h1>

<p>Ticket {{ticketLink id}} was created by {{userLink user}} {{timeSince created}}.</p>
{{#if (not (equal created edited))}}
	<p>It was most recently updated {{timeSince edited}}.</p>
{{/if}}

{{{body}}}

{{#each comments}}
<div>
	{{userLink user}} {{timeSince created}}
	<div>{{{body}}}</div>
</div>
{{/each}}
